body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:757px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:768px;
}
#u2276 {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:768px;
}
#u2277 {
  position:absolute;
  left:2px;
  top:376px;
  width:753px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:768px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2278 {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:768px;
}
#u2279 {
  position:absolute;
  left:2px;
  top:376px;
  width:753px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2280 {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:74px;
}
#u2281 {
  position:absolute;
  left:2px;
  top:29px;
  width:747px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2282 {
  position:absolute;
  left:53px;
  top:45px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2283 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2284 {
  position:absolute;
  left:142px;
  top:45px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2285 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2286_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:54px;
  height:5px;
}
#u2286 {
  position:absolute;
  left:44px;
  top:74px;
  width:51px;
  height:2px;
}
#u2287 {
  position:absolute;
  left:2px;
  top:-7px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:565px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2288 {
  position:absolute;
  left:0px;
  top:76px;
  width:751px;
  height:565px;
}
#u2289 {
  position:absolute;
  left:2px;
  top:274px;
  width:747px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2290 {
  position:absolute;
  left:44px;
  top:99px;
  width:649px;
  height:90px;
}
#u2291 {
  position:absolute;
  left:2px;
  top:37px;
  width:645px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2292 {
  position:absolute;
  left:87px;
  top:214px;
  width:57px;
  height:16px;
}
#u2293 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
