body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:774px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1639 {
  position:absolute;
  left:84px;
  top:34px;
  width:577px;
  height:32px;
}
#u1640 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
#u1641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1641 {
  position:absolute;
  left:84px;
  top:78px;
  width:690px;
  height:224px;
}
#u1642 {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  white-space:nowrap;
}
#u1643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:227px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1643 {
  position:absolute;
  left:84px;
  top:302px;
  width:511px;
  height:227px;
}
#u1644 {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  white-space:nowrap;
}
#u1645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:227px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1645 {
  position:absolute;
  left:84px;
  top:507px;
  width:522px;
  height:227px;
}
#u1646 {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  white-space:nowrap;
}
