body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:43px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1647 {
  position:absolute;
  left:343px;
  top:29px;
  width:85px;
  height:43px;
}
#u1648 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u1649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:43px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1649 {
  position:absolute;
  left:343px;
  top:111px;
  width:85px;
  height:43px;
}
#u1650 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u1651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:43px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1651 {
  position:absolute;
  left:343px;
  top:192px;
  width:85px;
  height:43px;
}
#u1652 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u1653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:43px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1653 {
  position:absolute;
  left:343px;
  top:274px;
  width:85px;
  height:43px;
}
#u1654 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u1655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:43px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1655 {
  position:absolute;
  left:343px;
  top:356px;
  width:85px;
  height:43px;
}
#u1656 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u1657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:43px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1657 {
  position:absolute;
  left:343px;
  top:437px;
  width:85px;
  height:43px;
}
#u1658 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u1659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:43px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1659 {
  position:absolute;
  left:343px;
  top:519px;
  width:85px;
  height:43px;
}
#u1660 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u1661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:43px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1661 {
  position:absolute;
  left:343px;
  top:600px;
  width:85px;
  height:43px;
}
#u1662 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u1663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:43px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1663 {
  position:absolute;
  left:343px;
  top:682px;
  width:85px;
  height:43px;
}
#u1664 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u1665 {
  position:absolute;
  left:386px;
  top:72px;
  width:0px;
  height:0px;
}
#u1665_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u1665_seg1 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u1666 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667 {
  position:absolute;
  left:386px;
  top:154px;
  width:0px;
  height:0px;
}
#u1667_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u1667_seg1 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u1668 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669 {
  position:absolute;
  left:386px;
  top:235px;
  width:0px;
  height:0px;
}
#u1669_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u1669_seg1 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u1670 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671 {
  position:absolute;
  left:386px;
  top:317px;
  width:0px;
  height:0px;
}
#u1671_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u1671_seg1 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u1672 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673 {
  position:absolute;
  left:386px;
  top:399px;
  width:0px;
  height:0px;
}
#u1673_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u1673_seg1 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u1674 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675 {
  position:absolute;
  left:386px;
  top:480px;
  width:0px;
  height:0px;
}
#u1675_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u1675_seg1 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u1676 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677 {
  position:absolute;
  left:386px;
  top:562px;
  width:0px;
  height:0px;
}
#u1677_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u1677_seg1 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u1678 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679 {
  position:absolute;
  left:386px;
  top:643px;
  width:0px;
  height:0px;
}
#u1679_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u1679_seg1 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u1680 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
